@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  background-color: lightskyblue;
  border: 1px solid black;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  font-size: 2em;
}

.nav-links {
  padding: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 200%;
  background-color: black;
  padding: 0px 25px;
  border: 1px dashed green;
  margin: 0;
}

nav a:hover {
  color: rgb(55, 55, 55);
  transition: color 0.3s linear;
}