@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  background-color: aqua;

  display: flex;
  justify-content: space-between;
  align-items: stretch; 
}

nav div {
  background-color: white;
  border: 2px red dashed;
}

.nav-logo {
  margin-left: 20px;
}

.nav-menu { 
  display: flex;
  justify-content: space-between;

  margin-right: 20px;
}

.nav-links {
  display: flex;
  align-items: stretch;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 0 20px; /* Set 15px margin horizontally */
}

.profile-link {
  background-color: aquamarine;
  margin: 0 20px;

  display: flex;
  align-items: center;
}

nav a:hover {
  color: rgb(55, 55, 55);
  transition: color 0.3s linear;
}